<h1>Grupo: <%= params['group'] %></h1>

<h2>Membros</h2>

<form action="<%= params['group'] %>" method="POST">
  <%= Rack::Csrf.csrf_tag(env) %>	
  <div id="user-to-add">
    <input name="username" type="text" class="typeahead" placeholder="Usuario para adicionar"/>
    <input type="submit" value="+"/>
  </div>
</form>


<ul>
	<% @members.each do |member| %>
	<li><%= member %></li>
	<% end %>
</ul>


<script type="text/javascript">
  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: '/users?q=%QUERY'
  });

  users.initialize();

  $('#user-to-add .typeahead').typeahead(
    {
      hint: true,
      highlight: true,
      minLength: 3
    },
    {
      name: 'users',
      displayKey: 'username',
      source: users.ttAdapter(),
      templates: {
        empty: '',
        suggestion: Handlebars.compile('<strong>{{username}}</strong> - {{fullname}}')
      }
  });
</script>
