<h1>Grupo: <%= params['group'] %></h1>

<h2>Membros</h2>
<form action="<%= params['group'] %>" method="POST">
  <%= Rack::Csrf.csrf_tag(env) %>
  <ul>
    <% @members.each do |member| %>
    <li><input name="username[]" type="text" value="<%= member %>" /></li>
    <% end %>
  </ul>
  <input type="submit" />
</form>
<ul>