<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Syncgroups UI</title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="/sgui.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script type="text/javascript" src="/typeahead.js/dist/bloodhound.min.js"></script>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
