ldap:
  host: ldap.example.com
  port: 389
  basedn: 'dc=department,dc=example,dc=com'
  binddn: 'cn=myself,dc=department,dc=example,dc=com'
  password: 'pa$$w0rd'
  group_rdn: 'cn'
  user_rdn: 'cn'
  group_members_attr: 'member'
  group_objectclass: 'group'
  fullname_attr: 'displayName'
web:
  port: 4567
  bind: 0.0.0.0